.page-welcome{
    background-image:url(assets/background.jpg);
}
.page-twitter{
    background-image:url(assets/backgroundt.jpg);
}
.page-features{
    background-image:url(assets/backgroundf.jpg);
}
